---
// Import React components like this
import React from 'react';
import App from '../App.jsx';
---

<html>
<head>
  <link rel="stylesheet" href="/src/App.css" />
</head>
<body>
  <App client:only/>
</body>
</html>
