---
// Import React components like this
import React from 'react';
import App from '../App.jsx';
import Info from '../Info.jsx';
---

<html>
<head>
  <link rel="stylesheet" href="/qscore/src/App.css" />
  <link rel="stylesheet" href="/qscore/src/Info.css" />
</head>
<body>
  <Info client:only/>
  <App client:only/>
</body>
</html>
