---
// Import React components like this
import React from 'react';
import App from '../App.jsx';
import Info from '../Info.jsx';
---

<html>
<body>
  <Info client:only/>
  <App client:only/>
</body>
</html>
